body{
/* needs padding */
}

/* general-classes */
.c-pointer {
  cursor: pointer;
}

/* NAVBAR */
.navbar-general {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;

  padding: 30px 100px;
}

.navbar-categories-general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* width: 120px; */
  width: 9em;
}

.navbar-categories-general p {
  cursor: pointer;
}

/* NAVBAR LOGO */
.nav-logo-general {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-logo-arrow {
  position: absolute;
}

.nav-right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.nav-currency-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  /* width: 80px; */
  width: 2em;
}